<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/styles-form.css">
        <link rel="stylesheet" href="/css/productCart.css">
</head>

<body>

    <%- include('../partials/header')%>

        <main>
            <section>
                <h2>Nueva Compra: </h2>
                <div class="cart">
                    <div class="product-list">
        </main>

        <%- include('../partials/footer')%>

</body>

</html>